<div id="main-bg" class="jumbotron text-center">
  <h2>Bookmarker</h2>
  <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</small>
  <p><%= link_to 'Learn more', topics_path, class: 'btn btn-info' %></p>
</div>

<div class="row margin-none text-center">
  <div class="col-sm-4">
    <h3><i class="fa fa-tachometer" aria-hidden="true"></i> Fast & Easy</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
  </div>
  <div class="col-sm-4">
    <h3><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Socializing</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
  </div>
  <div class="col-sm-4">
    <h3><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editable</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
  </div>
</div>
