// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#topic-index-bg {
  background: #aaa url("/images/typewriter.jpg") no-repeat;
  height: 300px;
}
